.CardDigit{
    border: 1px solid red;
    position: relative;
    width: 1em;
    height: 1.5em;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}

.CardDigit__default{
    height: 100%;
    transition: all .4s ease;
    opacity: 1;
}

.CardDigit__value{
    height: 100%;
    transition: all .4s ease;
}

.CardDigit--filled .CardDigit__default{
    transform: translate(0, -100%);
    opacity: 0;
}

.CardDigit--filled .CardDigit__value{
    transform: translate(0, -100%);
    opacity: 1;
}